/* Montserrat medium (normal) */
@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/mon/400.woff') format('woff');
}

/* Montserrat medium (normal) */
@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/mon/500.woff') format('woff');
}

/* Montserrat medium (normal) */
@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/mon/600.woff') format('woff');
}

/* Montserrat bold (normal) */
@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/mon/700.woff') format('woff');
}

/* Old Standart TT regular (normal) */
@font-face {
  font-family: 'Old Standard TT';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/old-standard-tt/400.woff2') format('woff2');
}