mixin button(options = {})
  - const tag = options.href ? 'a' : 'button';
  - const text = options.text || '';
  - const title = options.title || false;
  - const href = options.href || false;
  - const type = options.type || tag === 'button' ? options.type || 'button' : false;
  - const ariaLabel = options.ariaLabel || false;
  - const target = options.isExternal ? '_blank' : false;
  - const rel = options.isExternal ? 'nofollow noopener noreferrer' : false;
  - const icon = options.icon || false;
  - const {name, width, height, isLeft, isRight} = icon || false;
  - const mods = options.mods?.map((mod) => `button--${mod}`) || false;

  #{tag}.button(class= mods, href= href, type= type, target= target, rel= rel, title= title, aria-label= ariaLabel)&attributes(attributes)
    if (icon && isLeft)
      +icon(name, width, height).button__icon.button__icon--left
    .
      !{text}
    if (icon && isRight)
      +icon(name, width, height).button__icon.button__icon--right
    if (icon && !text && !isLeft && !isRight)
      +icon(name, width, height)