-
  const marathonArray = [
  	{
      src: 'card-5',
      width: '363',
      height: '250',
      alt: '',
    },
    {
      src: 'card-4',
      width: '363',
      height: '250',
      alt: '',
    },
    {
      src: 'card-2',
      width: '560',
      height: '387',
      alt: '',
    },
    {
      src: 'card-3',
      width: '363',
      height: '250',
      alt: '',
    },
    {
      src: 'card-1',
      width: '560',
      height: '387',
      alt: '',
      video: true,
      text: 'Конкурс Муниципалитетов',
    },
    {
      src: 'card-6',
      width: '560',
      height: '387',
      alt: '',
    },
    {
      src: 'card-2',
      width: '560',
      height: '387',
      alt: '',
    },
    {
      src: 'card-2',
      width: '560',
      height: '387',
      alt: '',
    },
    {
      src: 'card-2',
      width: '560',
      height: '387',
      alt: '',
    },
    {
      src: 'card-2',
      width: '560',
      height: '387',
      alt: '',
    },
    {
      src: 'card-3',
      width: '363',
      height: '250',
      alt: '',
    },
    {
      src: 'card-4',
      width: '363',
      height: '250',
      alt: '',
    },
  ];