mixin promo
  section.promo&attributes(attributes)
    .promo__wrapper.container
      if pageTitle === 'Конкурсы'
        h1.promo__title Конкурсы
        +picture('desktop', 'promo-background', 'jpg', '990', '554')

      if pageTitle === 'Конкурс Муниципалитетов'
        +breadcrumbs({
          links: [
            {
              href: 'index.html',
              text: 'Конкурсы',
            },
            {
              text: 'Конкурсы муниципалитетов',
            },
          ],
        })
        .promo__content
          h1.promo__title Конкурс Муниципалитетов
          +picture('desktop', 'promo-background', 'jpg', '990', '554')
        .promo__additional.additional
          time(datetime="18-05-2023") 23 мая 2023
          +socials
        .promo__text
          p
            .
              Мы&nbsp;&mdash; первая в&nbsp;России Академия пляжного волейбола BVC. С&nbsp;2011 года обучаем этому виду спорта взрослых и&nbsp;детей от&nbsp;5&nbsp;лет по&nbsp;авторской и&nbsp;запатентованной программе &laquo;Я&nbsp;&mdash; Молодец!&raquo;. В&nbsp;2023 году мы&nbsp;стали первой академией в&nbsp;России, которая получила лицензию Министерства Образования РФ. Обучение построено с&nbsp;четкой градацией по&nbsp;уровням, системой аттестации по&nbsp;теории, практике и&nbsp;ОФП. Это уникальный подход для российской и&nbsp;мировой практики в&nbsp;любительском командном спорте! Наша основная целевая аудитория&nbsp;&mdash; люди от&nbsp;22&nbsp;до&nbsp;46&nbsp;лет. Работаем как в&nbsp;онлайн, так и&nbsp;в&nbsp;офлайн среде. Пляжный волейбол&nbsp;&mdash; это, в&nbsp;первую очередь, &laquo;тёплые&raquo; положительные эмоции, которых так не&nbsp;хватает жителям нашей страны с&nbsp;её&nbsp;суровыми климатическими условиями. В&nbsp;BVC пляжным волейболом можно заниматься круглый год&nbsp;&mdash; для начала занятий нужны лишь шорты и&nbsp;майка! А&nbsp;напарник для игры найдется уже на&nbsp;наших тренировках. За&nbsp;11&nbsp;лет проведено более 20&nbsp;000&nbsp;тренировок, различных турниров и&nbsp;мастер-классов. Организовано более 50&nbsp;выездов в&nbsp;самые разные уголки мира. Мы&nbsp;активно ведем работу в&nbsp;социальных сетях, получаем обратную связь от&nbsp;учеников. Все это позволяет нам расти, развиваться, привлекать новых людей и&nbsp;пополнять огромную семью любителей пляжного волейбола. За&nbsp;успехом всегда стоит множество поражений, сложностей и&nbsp;неудач. Но&nbsp;мы&nbsp;считаем, что самая главная ценность&nbsp;&mdash; это люди. Академия родилась, когда в&nbsp;команде был только один человек. Команда росла, потом распадалась, а&nbsp;затем собиралась заново. Академия BVC прошла тернистый путь, прежде чем стать такой, какой она является сейчас. После многих часов обучения, после строительства нескольких площадок и&nbsp;центров, у&nbsp;нас появилось большое количество единомышленников. Команда растет, у&nbsp;нас появилось несколько отделов, развивается своя школа тренеров и&nbsp;школа для детей, сборная Клуба! Мы&nbsp;делаем свою работу хорошо, потому что занимаемся любимым делом! Это подтверждают как высокие оценки на&nbsp;Яндексе (в&nbsp;2021 году мы&nbsp;стали первой в&nbsp;России Академией волейбола, которая получила награду &laquo;Хорошее место&raquo; Яндекса), так и&nbsp;большое количество отзывов от&nbsp;наших учеников в&nbsp;социальных сетях. Мы&nbsp;не&nbsp;предаем идею о&nbsp;формировании здоровой среды и&nbsp;стараемся соответствовать стандартам, которые сами задали. Ведь мы&nbsp;&mdash; пример для наших учеников! Например, сотрудником нашего клуба не&nbsp;может стать тот, кто курит! Мы&nbsp;сформировали &laquo;глубокий&raquo; подход, который помогает развиваться, меняться людям. Мы&nbsp;это называем &laquo;волейбольная трансформация&raquo; жизни! Многоуровневая авторская система подготовки для детей и&nbsp;взрослых &laquo;Я&nbsp;&mdash; Молодец!&raquo; была запатентована в&nbsp;2022&nbsp;году. В&nbsp;рамках этой системы обучилось более 20&nbsp;000&nbsp;человек. Нами написаны учебники по&nbsp;пляжному волейболу (в&nbsp;сумме более чем на&nbsp;700&nbsp;страниц). В&nbsp;2022 году сформировали автономную некоммерческую организацию &laquo;Национальный спортивный центр&raquo;. Организацию поддерживают частные спонсоры, ученики клуба и&nbsp;любители нашего вида спорта! Главная цель АНО&nbsp;&mdash; развитие пляжного волейбола в&nbsp;регионах и&nbsp;поддержка талантливых детей! Помимо любительского волейбола методология &laquo;Я&nbsp;&mdash; Молодец!&raquo; была опробована на&nbsp;профессиональных спортсменах. В&nbsp;2022 году мы&nbsp;подготовили команду юношей к&nbsp;первенству России по&nbsp;пляжному волейболу. Став серебряными призерами соревнований, ребята попали в&nbsp;состав сборной России своего возраста. Для наших учеников мы&nbsp;являемся путеводителями в&nbsp;мире пляжного волейбола! Мы&nbsp;влюбляем в&nbsp;пляжный волейбол, навсегда!
          h2 География проекта
          p город Санкт-Петербург

          h2 Задачи проекта  
          p
            .
              Задачи проекта &laquo;Влюбить&raquo; в&nbsp;пляжный волейбол 1&nbsp;000&nbsp;000 человек за&nbsp;следующие 10&nbsp;лет! Глобальной миссией проекта является формирование &laquo;здоровой среды&raquo; вокруг нас, среди наших учеников, сотрудников. Одна из&nbsp;важнейших задач клуба&nbsp;&mdash; воспитать и&nbsp;вырастить Олимпийского чемпиона по&nbsp;собственной методологии &laquo;Я&nbsp;&mdash; молодец!&raquo; В&nbsp;каждом городе-миллионнике должны появиться центры по&nbsp;подготовке волейболистов и&nbsp;тренерского состава, наподобии уже реализованных нами проектов (пляжного центра &laquo;Песок&raquo; и&nbsp;летнего стадиона пляжных видов спорта &laquo;Fox Beach&raquo; в&nbsp;СПб). Создана детская и&nbsp;взрослая сборные клуба, которые выступают на&nbsp;любительских, профессиональных российских и&nbsp;международных соревнованиях. Создан онлайн и&nbsp;офлайн университеты пляжного волейбола с&nbsp;возможностью обучения дистанционно. К&nbsp;уже выстроенной устойчивой системе финансирования за&nbsp;счет коммерческой деятельности, привлечения частных спонсоров и&nbsp;пожертвований планируется добавить госфинансирование и&nbsp;грантовую поддержку для дальнейшего
          +button(
            {
              text: 'Подать заявку',
            }
          )
      if pageTitle === 'Марафон 20 км'
        +breadcrumbs({
          links: [
            {
              href: 'index.html',
              text: 'Конкурсы',
            },
            {
              href: 'secondary.html',
              text: 'Конкурсы муниципалитетов',
            },
            {
              text: 'Лучшие проекты',
            },
          ],
        })
        .promo__content
          h1.promo__title Конкурс Муниципалитетов
          +picture('desktop', 'promo-background', 'jpg', '990', '554')
        .promo__additional.additional
          time(datetime="18-05-2023") 23 мая 2023
          +socials
        .promo__text
          p
            .
              Мы&nbsp;&mdash; первая в&nbsp;России Академия пляжного волейбола BVC. С&nbsp;2011 года обучаем этому виду спорта взрослых и&nbsp;детей от&nbsp;5&nbsp;лет по&nbsp;авторской и&nbsp;запатентованной программе &laquo;Я&nbsp;&mdash; Молодец!&raquo;. В&nbsp;2023 году мы&nbsp;стали первой академией в&nbsp;России, которая получила лицензию Министерства Образования РФ. Обучение построено с&nbsp;четкой градацией по&nbsp;уровням, системой аттестации по&nbsp;теории, практике и&nbsp;ОФП. Это уникальный подход для российской и&nbsp;мировой практики в&nbsp;любительском командном спорте! Наша основная целевая аудитория&nbsp;&mdash; люди от&nbsp;22&nbsp;до&nbsp;46&nbsp;лет. Работаем как в&nbsp;онлайн, так и&nbsp;в&nbsp;офлайн среде. Пляжный волейбол&nbsp;&mdash; это, в&nbsp;первую очередь, &laquo;тёплые&raquo; положительные эмоции, которых так не&nbsp;хватает жителям нашей страны с&nbsp;её&nbsp;суровыми климатическими условиями. В&nbsp;BVC пляжным волейболом можно заниматься круглый год&nbsp;&mdash; для начала занятий нужны лишь шорты и&nbsp;майка! А&nbsp;напарник для игры найдется уже на&nbsp;наших тренировках. За&nbsp;11&nbsp;лет проведено более 20&nbsp;000&nbsp;тренировок, различных турниров и&nbsp;мастер-классов. Организовано более 50&nbsp;выездов в&nbsp;самые разные уголки мира. Мы&nbsp;активно ведем работу в&nbsp;социальных сетях, получаем обратную связь от&nbsp;учеников. Все это позволяет нам расти, развиваться, привлекать новых людей и&nbsp;пополнять огромную семью любителей пляжного волейбола. За&nbsp;успехом всегда стоит множество поражений, сложностей и&nbsp;неудач. Но&nbsp;мы&nbsp;считаем, что самая главная ценность&nbsp;&mdash; это люди. Академия родилась, когда в&nbsp;команде был только один человек. Команда росла, потом распадалась, а&nbsp;затем собиралась заново. Академия BVC прошла тернистый путь, прежде чем стать такой, какой она является сейчас. После многих часов обучения, после строительства нескольких площадок и&nbsp;центров, у&nbsp;нас появилось большое количество единомышленников. Команда растет, у&nbsp;нас появилось несколько отделов, развивается своя школа тренеров и&nbsp;школа для детей, сборная Клуба! Мы&nbsp;делаем свою работу хорошо, потому что занимаемся любимым делом! Это подтверждают как высокие оценки на&nbsp;Яндексе (в&nbsp;2021 году мы&nbsp;стали первой в&nbsp;России Академией волейбола, которая получила награду &laquo;Хорошее место&raquo; Яндекса), так и&nbsp;большое количество отзывов от&nbsp;наших учеников в&nbsp;социальных сетях. Мы&nbsp;не&nbsp;предаем идею о&nbsp;формировании здоровой среды и&nbsp;стараемся соответствовать стандартам, которые сами задали. Ведь мы&nbsp;&mdash; пример для наших учеников! Например, сотрудником нашего клуба не&nbsp;может стать тот, кто курит! Мы&nbsp;сформировали &laquo;глубокий&raquo; подход, который помогает развиваться, меняться людям. Мы&nbsp;это называем &laquo;волейбольная трансформация&raquo; жизни! Многоуровневая авторская система подготовки для детей и&nbsp;взрослых &laquo;Я&nbsp;&mdash; Молодец!&raquo; была запатентована в&nbsp;2022&nbsp;году. В&nbsp;рамках этой системы обучилось более 20&nbsp;000&nbsp;человек. Нами написаны учебники по&nbsp;пляжному волейболу (в&nbsp;сумме более чем на&nbsp;700&nbsp;страниц). В&nbsp;2022 году сформировали автономную некоммерческую организацию &laquo;Национальный спортивный центр&raquo;. Организацию поддерживают частные спонсоры, ученики клуба и&nbsp;любители нашего вида спорта! Главная цель АНО&nbsp;&mdash; развитие пляжного волейбола в&nbsp;регионах и&nbsp;поддержка талантливых детей! Помимо любительского волейбола методология &laquo;Я&nbsp;&mdash; Молодец!&raquo; была опробована на&nbsp;профессиональных спортсменах. В&nbsp;2022 году мы&nbsp;подготовили команду юношей к&nbsp;первенству России по&nbsp;пляжному волейболу. Став серебряными призерами соревнований, ребята попали в&nbsp;состав сборной России своего возраста. Для наших учеников мы&nbsp;являемся путеводителями в&nbsp;мире пляжного волейбола! Мы&nbsp;влюбляем в&nbsp;пляжный волейбол, навсегда!
        +gallery-list(class="gallery__list--marathon")