doctype html
include ../components

block variables

html(lang="ru")
  head
    title= pageTitle
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name="description" content="")
    link(rel="stylesheet" href="css/styles.css")
    link(rel="preload" href="fonts/mon/400.woff" as="font" crossorigin)
    link(rel="preload" href="fonts/mon/500.woff" as="font" crossorigin)
    link(rel="preload" href="fonts/mon/600.woff" as="font" crossorigin)
    link(rel="preload" href="fonts/mon/700.woff" as="font" crossorigin)
    link(rel="preload" href="fonts/old-standard-tt/400.woff2" as="font" crossorigin)
      
    block styles
  body
    block content
    block scripts
      script(src="js/main.js")



